{% load static %}

{% block body  %}

{% include 'usernav.html' %}

<script>
    function checkpass()
    {
        if(document.changepass.newpass.value!=document.changepass.conformpass.value)
        {
            alert('password is not matching');
            document.changepass.conformpass.focus();
            return false;
        }
        return true;
    }
</script>

    <form method="post" name="changepass" onsubmit="return checkpass()">
    {%   csrf_token %}
    <label for="">Current Password</label>
    <input type="password" name="currentpassword" required="true"><br><br>

    <label for="">New Password</label>
    <input type="password" name="newpass" required="true">

    <label for="">Confirm new Password</label>
    <input type="password" name="conformpass" required="true">

    <input type="submit"><br><br>
</form>
{% if error == "no" %}
    <script>
        alert("password changed ");
        window.location.href = "{% url 'Logout' %}";
    </script>
{% endif %}

{% if error == "yes" %}
    <script>
        alert("Try Again");
       
    </script>
{% endif %}

{% if error == "not" %}
    <script>
        alert("check password");
       
    </script>
{% endif %}


{% endblock %}
