{% load static %}

{% block body  %}

{% include 'navigation.html' %}

<h1>User Login</h1>

<form  action="" method="post">
    {% csrf_token %}
    <label for="">Email</label>
    <input type="email" placeholder="Enter Email" name="uname"><br><br>
    <label for="">Password</label>
    <input type="password" placeholder="Enter Password" name="pass"><br>
    <input type="submit" value="login"><br><br>
    <a href="{% url  'user_signup' %}" >Register</a>
</form>



{% if error == "no" %}
    <script>
        alert("Login success");
        window.location.href = "{% url 'user_home' %}";
    </script>
{% endif %}

{% if error == "yes" %}
    <script>
        alert("Invalid user name or password");
    </script>
{% endif %}


{% endblock %}